html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
:root {
    --borders: hsl(210, 100%, 60%);
    --container-bk: hsl(210, 100%, 80%);
    --gallery-main-bk:  hsl(210, 100%, 90%);
  }

body{
    margin: 0;
}

.gallery-container {
    padding: 8px;
    border: 2px solid var(--borders);
    background: var(--container-bk);
    max-width: 500px;
    max-height: 585px;
    margin: 0 auto;
}

#gallery-main {
    width: 475px;
    height: 475px;
    background: var(--gallery-main-bk);
    padding: 8px;
    margin: 0 auto;
}

#gallery-main img{
    display: block;
    width: 100%;
    height: auto;
}

.gallery-thumbs-container {
    width: 475px;
    padding: 8px 0;
    position: relative;
}

.gallery-thumbs-controls-left, .gallery-thumbs-controls-right{
   position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
   
}
.gallery-thumbs-controls-right{
   right: 0;
 }

.gallery-thumbs {
    width: 415px;
    margin: 0 auto;
    overflow: hidden;
}

#gallery-thumbs-inner {
    display: flex;
    align-items: center;
    margin: 2px 0;

}

#gallery-thumbs-inner img {
    display: block;
    margin: 0 4px;
    width: 75px;
    height: 75px;
    outline: 1px solid var(--borders);
    background: var(--container-bk);
}



@media only screen and (max-width: 600px) {

   .gallery-container{
        width: 100%;
        margin: 0;
        padding: 8px 0;
    }
   #gallery-main,.gallery-thumbs-controls-right,
    .gallery-thumbs-controls-left{
        display: none;
    }

    .gallery-thumbs-container {
        width:100%;
        padding: 4px;
        margin: 0;
    }

   .gallery-thumbs{
        width: calc(100% - 16px);
        padding: 0;
        overflow: auto;
    }
    #gallery-thumbs-inner{
        width: 100%;
    }
         
    #gallery-thumbs-inner img {
        width: 100%;
        height: auto;
        margin: 0;
        margin-right: 8px;
        padding: 0;
        display: block;
        border: 1px solid var(--borders);
        outline: none;
    }
   
}
